# Dependências
node_modules/

# Log de erros
npm-debug.log
yarn-error.log

# Arquivos de configuração de ambiente
.env
.env.local
.env.*.local

# TypeScript
# Ignorar arquivos de saída de compilação do TypeScript
/dist/
/build/
/out/
/*.tsbuildinfo

# IDEs e editores
.vscode/
.idea/

# Sistema operacional
.DS_Store  # macOS
Thumbs.db   # Windows

# Arquivos temporários de backup
*~
*.bak

# Arquivos de log gerados pela aplicação
*.log

